.container{
    display: grid;
    grid-template-columns: 150px 300px 250px;
    grid-template-rows: 150px 300px 100px;

}

.parca{
    background-color: pink;
    border: 1px solid red;
    text-align: center;
    /* display: flex;
    justify-content:center ;
    align-items: center; */

}

.parca1{
    background-image: url(../../assets/img/logo_colorful.png);
    background-size: cover;
}

.parca4{
    overflow: auto;
}