*{
    text-align: center;
    margin: 0;
}

.bg{
    background-image: url(../img/monalisa.jpeg);
height: 30rem;
/* background-size: 400px 300px; */
/* böyle yaparsak resmin boyutu görüntüsü bozulur */
background-repeat: no-repeat;
background-size: cover;
background-size: contain;

background-position: bottom right;
background-position: top right;
background-position: center center;
}

 /* ilk parametre dikeyde (top-bottom-center), 2. parametre yatayda (right-left-center) hizalar. 
 resim cover ile kırpıldıysa, resmin gözükmesini istediğimiz kısmını bu komutlarla belirleyebiliriz. resim contain ile verilen alanda küçük bi yer kapladıysa bu komutlarla hizalama yapabiliriz */

span{
    background-color: gray;
    width: 4rem;
    height: 1rem;
    display: inline-block;
    margin: 1rem;
}
span:hover{
    background-color: lightgray;
}
.bb{
    background-color: gray;
    width: 4rem;
    height: 1rem;
}